.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 25px;
  /* object-fit: contain;  we have svg vector as youtube logo,
but if it was png it would get distorted and it
would get messed up then we need object-fit:contain, remember*/
  margin-left: 20px;
}

.header__left {
  display: flex;
}
.header__input {
  display: flex;
  align-items: center;
  width: 58%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  min-width: 10%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2em;
  padding: 5px;
}

.header__icon {
  margin-right: 8px;
}

.header__icon:hover {
  background-color: lightgray;
  /* padding: 2px; */
  border-radius: 5px;
}
.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
  display: flex !important;
  border-radius: 2em;
}

.header__icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 5%;
}

.header__input > input {
  flex: 1;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.01);
}

@media (max-width: 926px) {
  .disable {
    display: none !important;
  }
}
