.header {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 25px;
  /* object-fit: contain;  we have svg vector as youtube logo,
but if it was png it would get distorted and it
would get messed up then we need object-fit:contain, remember*/
  margin-left: 20px;
}
