.sidebar {
  flex: 0.2;
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 926px) {
  .sidebar {
    display: none;
  }
}
