.app__page {
  display: flex;
}
.header__fake {
  /* this is because .header is fixed and its hard 
  to put something under it so this is workaround it */
  padding: 40px;
  background-color: blue;
}

@media (max-width: 926px) {
  .app__page {
    justify-content: center;
    display: block;
  }
  .header__fake {
    margin-bottom: 3%;
  }
}
